In [101]:
import pandas as pd

## Loading the data set
Read the .csv file containing the data.

In [102]:
incidents_df = pd.read_csv("./data/incidents.csv")
poverty_df = pd.read_csv("./data/povertyByStateYear.csv")
district_df = pd.read_csv("./data/year_state_district_house.csv")

/var/folders/bm/ffdf_xhn5dlbz18lby0lzgc00000gn/T/ipykernel_91369/2879831972.py:1: DtypeWarning: Columns (15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  incidents_df = pd.read_csv("./data/incidents.csv")

In [103]:
print("Incidents")
print(incidents_df.head())
print("\nPoverty")
print(poverty_df.head())
print("\nDistrict")
print(district_df.head())

Incidents
         date                 state city_or_county  \
0  2015-05-02               Indiana   Indianapolis
1  2017-04-03          Pennsylvania           Kane
2  2016-11-05              Michigan        Detroit
3  2016-10-15  District of Columbia     Washington
4  2030-06-14          Pennsylvania     Pittsburgh

                              address  latitude  longitude  \
0       Lafayette Road and Pike Plaza   39.8322   -86.2492
1                           5647 US 6   41.6645   -78.7856
2   6200 Block of East McNichols Road   42.4190   -83.0393
3  1000 block of Bladensburg Road, NE   38.9030   -76.9820
4     California and Marshall Avenues   40.4621   -80.0308

   congressional_district  state_house_district  state_senate_district  \
0                     7.0                  94.0                   33.0
1                     5.0                   NaN                    NaN
2                    14.0                   4.0                    2.0
3                     1.0                   NaN                    NaN
4                    14.0                   NaN                    NaN

   participant_age1  ... n_males n_females n_killed n_injured n_arrested  \
0              19.0  ...     1.0       0.0        0         1        0.0
1              62.0  ...     1.0       0.0        1         0        0.0
2               NaN  ...     NaN       NaN        0         1        0.0
3               NaN  ...     1.0       0.0        0         1        0.0
4               NaN  ...     1.0       0.0        0         1        0.0

  n_unharmed n_participants  \
0        0.0            1.0
1        0.0            1.0
2        1.0            2.0
3        0.0            2.0
4        1.0            2.0

                                               notes  \
0  Teen wounded while walking - Security guard at...
1                           shot self after accident
2                                             1 inj.
3                                                NaN
4                                                NaN

                   incident_characteristics1  \
0                     Shot - Wounded/Injured
1  Shot - Dead (murder, accidental, suicide)
2                     Shot - Wounded/Injured
3                     Shot - Wounded/Injured
4                     Shot - Wounded/Injured

              incident_characteristics2
0                                   NaN
1                              Suicide^
2                                   NaN
3                                   NaN
4  Drive-by (car to street, car to car)

[5 rows x 28 columns]

Poverty
           state  year  povertyPercentage
0  United States  2020               11.5
1        Alabama  2020               14.8
2         Alaska  2020               11.5
3        Arizona  2020               12.1
4       Arkansas  2020               15.8

District
   year    state  congressional_district       party  candidatevotes  \
0  1976  ALABAMA                       1  REPUBLICAN           98257
1  1976  ALABAMA                       2  REPUBLICAN           90069
2  1976  ALABAMA                       3    DEMOCRAT          106935
3  1976  ALABAMA                       4    DEMOCRAT          141490
4  1976  ALABAMA                       5    DEMOCRAT          113553

   totalvotes
0      157170
1      156362
2      108048
3      176022
4      113560

In [104]:
incidents_df.state = incidents_df.state.str.upper()
poverty_df.state = poverty_df.state.str.upper()
district_df.state = district_df.state.str.upper()

print(incidents_df.state[0:5])
print(poverty_df.state[0:5])
print(district_df.state[0:5])

0                 INDIANA
1            PENNSYLVANIA
2                MICHIGAN
3    DISTRICT OF COLUMBIA
4            PENNSYLVANIA
Name: state, dtype: object
0    UNITED STATES
1          ALABAMA
2           ALASKA
3          ARIZONA
4         ARKANSAS
Name: state, dtype: object
0    ALABAMA
1    ALABAMA
2    ALABAMA
3    ALABAMA
4    ALABAMA
Name: state, dtype: object

In [105]:
print(incidents_df.state.unique())
print("\n", poverty_df.state.unique())
print("\n", district_df.state.unique())

['INDIANA' 'PENNSYLVANIA' 'MICHIGAN' 'DISTRICT OF COLUMBIA'
 'NORTH CAROLINA' 'LOUISIANA' 'CONNECTICUT' 'VIRGINIA' 'OKLAHOMA'
 'NEW YORK' 'MISSOURI' 'CALIFORNIA' 'TEXAS' 'ILLINOIS' 'OHIO' 'WASHINGTON'
 'FLORIDA' 'SOUTH CAROLINA' 'GEORGIA' 'MASSACHUSETTS' 'TENNESSEE'
 'WEST VIRGINIA' 'NEW JERSEY' 'ARKANSAS' 'RHODE ISLAND' 'MAINE' 'NEVADA'
 'COLORADO' 'NEW MEXICO' 'MARYLAND' 'OREGON' 'SOUTH DAKOTA' 'KENTUCKY'
 'ALABAMA' 'ARIZONA' 'MINNESOTA' 'WISCONSIN' 'MISSISSIPPI' 'KANSAS' 'IOWA'
 'WYOMING' 'NEBRASKA' 'ALASKA' 'UTAH' 'MONTANA' 'HAWAII' 'DELAWARE'
 'IDAHO' 'NEW HAMPSHIRE' 'VERMONT' 'NORTH DAKOTA']

 ['UNITED STATES' 'ALABAMA' 'ALASKA' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA'
 'COLORADO' 'CONNECTICUT' 'DELAWARE' 'DISTRICT OF COLUMBIA' 'FLORIDA'
 'GEORGIA' 'HAWAII' 'IDAHO' 'ILLINOIS' 'INDIANA' 'IOWA' 'KANSAS'
 'KENTUCKY' 'LOUISIANA' 'MAINE' 'MARYLAND' 'MASSACHUSETTS' 'MICHIGAN'
 'MINNESOTA' 'MISSISSIPPI' 'MISSOURI' 'MONTANA' 'NEBRASKA' 'NEVADA'
 'NEW HAMPSHIRE' 'NEW JERSEY' 'NEW MEXICO' 'NEW YORK' 'NORTH CAROLINA'
 'NORTH DAKOTA' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'RHODE ISLAND'
 'SOUTH CAROLINA' 'SOUTH DAKOTA' 'TENNESSEE' 'TEXAS' 'UTAH' 'VERMONT'
 'VIRGINIA' 'WASHINGTON' 'WEST VIRGINIA' 'WISCONSIN' 'WYOMING']

 ['ALABAMA' 'ALASKA' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DELAWARE' 'FLORIDA' 'GEORGIA' 'HAWAII' 'IDAHO' 'ILLINOIS'
 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE' 'MARYLAND'
 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI' 'MISSOURI' 'MONTANA'
 'NEBRASKA' 'NEVADA' 'NEW HAMPSHIRE' 'NEW JERSEY' 'NEW MEXICO' 'NEW YORK'
 'NORTH CAROLINA' 'NORTH DAKOTA' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA'
 'RHODE ISLAND' 'SOUTH CAROLINA' 'SOUTH DAKOTA' 'TENNESSEE' 'TEXAS' 'UTAH'
 'VERMONT' 'VIRGINIA' 'WASHINGTON' 'WEST VIRGINIA' 'WISCONSIN' 'WYOMING'
 'DISTRICT OF COLUMBIA']

<h1 color="red">
Error
</h1>

Issue on merging the dataframes on the state variable.

In [106]:
# Dataframe that has the files combined on 'state' columns

# incidents_df["state"] = incidents_df["state"].astype(str)
# poverty_df["state"] = poverty_df["state"].astype(str)
# district_df["state"] = district_df["state"].astype(str)
# 
# merged_df = incidents_df.join(poverty_df, on="state", how="inner")
# merged_df = merged_df.join(district_df, on="state", how="inner")
# 
# merged_df.head()

# Data Analysis
## Basic Info

In [107]:
print("Incidents DF")
print(incidents_df.info())
print("\nPoverty DF")
print(poverty_df.info())
print("\nDistrict DF")
print(district_df.info())

Incidents DF
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 28 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date                       239677 non-null  object
 1   state                      239677 non-null  object
 2   city_or_county             239677 non-null  object
 3   address                    223180 non-null  object
 4   latitude                   231754 non-null  float64
 5   longitude                  231754 non-null  float64
 6   congressional_district     227733 non-null  float64
 7   state_house_district       200905 non-null  float64
 8   state_senate_district      207342 non-null  float64
 9   participant_age1           147379 non-null  float64
 10  participant_age_group1     197558 non-null  object
 11  participant_gender1        203315 non-null  object
 12  min_age_participants       164879 non-null  object
 13  avg_age_participants       165057 non-null  object
 14  max_age_participants       164969 non-null  object
 15  n_participants_child       197573 non-null  object
 16  n_participants_teen        197578 non-null  object
 17  n_participants_adult       197575 non-null  object
 18  n_males                    203315 non-null  float64
 19  n_females                  203315 non-null  float64
 20  n_killed                   239677 non-null  int64
 21  n_injured                  239677 non-null  int64
 22  n_arrested                 212051 non-null  float64
 23  n_unharmed                 212051 non-null  float64
 24  n_participants             239677 non-null  float64
 25  notes                      158660 non-null  object
 26  incident_characteristics1  239351 non-null  object
 27  incident_characteristics2  141931 non-null  object
dtypes: float64(11), int64(2), object(15)
memory usage: 51.2+ MB
None

Poverty DF
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884 entries, 0 to 883
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              884 non-null    object
 1   year               884 non-null    int64
 2   povertyPercentage  832 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 20.8+ KB
None

District DF
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10441 entries, 0 to 10440
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    10441 non-null  int64
 1   state                   10441 non-null  object
 2   congressional_district  10441 non-null  int64
 3   party                   10441 non-null  object
 4   candidatevotes          10441 non-null  int64
 5   totalvotes              10441 non-null  int64
dtypes: int64(4), object(2)
memory usage: 489.5+ KB
None

## Missing Value Detection

In [108]:
incidents_df.isnull().sum()

date                             0
state                            0
city_or_county                   0
address                      16497
latitude                      7923
longitude                     7923
congressional_district       11944
state_house_district         38772
state_senate_district        32335
participant_age1             92298
participant_age_group1       42119
participant_gender1          36362
min_age_participants         74798
avg_age_participants         74620
max_age_participants         74708
n_participants_child         42104
n_participants_teen          42099
n_participants_adult         42102
n_males                      36362
n_females                    36362
n_killed                         0
n_injured                        0
n_arrested                   27626
n_unharmed                   27626
n_participants                   0
notes                        81017
incident_characteristics1      326
incident_characteristics2    97746
dtype: int64

In [109]:
poverty_df.isnull().sum()

state                 0
year                  0
povertyPercentage    52
dtype: int64

In [110]:
district_df.isnull().sum()

year                      0
state                     0
congressional_district    0
party                     0
candidatevotes            0
totalvotes                0
dtype: int64

## Correlation

In [111]:
incidents_df.corr(numeric_only=True)

,latitude,longitude,congressional_district,state_house_district,state_senate_district,participant_age1,n_males,n_females,n_killed,n_injured,n_arrested,n_unharmed,n_participants
latitude,1.000000,-0.056713,-0.259488,-0.237958,0.028611,-0.027924,-0.038241,-0.037404,-0.080078,-0.011379,0.026206,-0.045854,-0.062864
longitude,-0.056713,1.000000,-0.215606,0.236450,0.113408,-0.051442,0.003762,-0.016592,-0.062149,0.036962,-0.021468,0.012874,-0.008813
congressional_district,-0.259488,-0.215606,1.000000,0.228827,0.309116,0.012916,0.008078,-0.003557,0.055545,-0.007636,-0.003900,-0.008930,0.013479
state_house_district,-0.237958,0.236450,0.228827,1.000000,0.431299,0.008282,0.021905,0.014223,-0.006015,-0.030355,0.022801,0.040400,0.017791
state_senate_district,0.028611,0.113408,0.309116,0.431299,1.000000,0.010146,-0.005438,-0.004852,-0.010650,-0.044294,0.042435,-0.008633,-0.018013
participant_age1,-0.027924,-0.051442,0.012916,0.008282,0.010146,1.000000,-0.059847,0.067434,0.140152,-0.119298,-0.026181,-0.008705,-0.033667
n_males,-0.038241,0.003762,0.008078,0.021905,-0.005438,-0.059847,1.000000,-0.061512,0.133417,0.245735,0.373348,0.423120,0.823163
n_females,-0.037404,-0.016592,-0.003557,0.014223,-0.004852,0.067434,-0.061512,1.000000,0.179318,0.153632,0.119354,0.128414,0.369827
n_killed,-0.080078,-0.062149,0.055545,-0.006015,-0.010650,0.140152,0.133417,0.179318,1.000000,-0.125425,-0.050011,-0.154075,0.238356
n_injured,-0.011379,0.036962,-0.007636,-0.030355,-0.044294,-0.119298,0.245735,0.153632,-0.125425,1.000000,-0.171424,-0.109843,0.383715
n_arrested,0.026206,-0.021468,-0.003900,0.022801,0.042435,-0.026181,0.373348,0.119354,-0.050011,-0.171424,1.000000,-0.206678,0.396729
n_unharmed,-0.045854,0.012874,-0.008930,0.040400,-0.008633,-0.008705,0.423120,0.128414,-0.154075,-0.109843,-0.206678,1.000000,0.504982
n_participants,-0.062864,-0.008813,0.013479,0.017791,-0.018013,-0.033667,0.823163,0.369827,0.238356,0.383715,0.396729,0.504982,1.000000

In [112]:
district_df.corr(numeric_only=True)

,year,congressional_district,candidatevotes,totalvotes
year,1.000000,0.023283,0.493502,0.515799
congressional_district,0.023283,1.000000,-0.142382,-0.128996
candidatevotes,0.493502,-0.142382,1.000000,0.888922
totalvotes,0.515799,-0.128996,0.888922,1.000000