<a href="https://colab.research.google.com/github/anasshamoon12002/data-mining-2023-24/blob/main/dataund_jona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd "drive/MyDrive/Colab Notebooks/data-mining-2023-24"

/content/drive/MyDrive/Colab Notebooks/data-mining-2023-24

In [3]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Load the Incident Data Set

In [4]:
df = pd.read_csv('data/incidents.csv')

<ipython-input-4-8b2e345395d5>:1: DtypeWarning: Columns (15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/incidents.csv')

# Attribute Types and Basic Checks

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 28 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date                       239677 non-null  object
 1   state                      239677 non-null  object
 2   city_or_county             239677 non-null  object
 3   address                    223180 non-null  object
 4   latitude                   231754 non-null  float64
 5   longitude                  231754 non-null  float64
 6   congressional_district     227733 non-null  float64
 7   state_house_district       200905 non-null  float64
 8   state_senate_district      207342 non-null  float64
 9   participant_age1           147379 non-null  float64
 10  participant_age_group1     197558 non-null  object
 11  participant_gender1        203315 non-null  object
 12  min_age_participants       164879 non-null  object
 13  avg_age_participants       165057 non-null  object
 14  max_age_participants       164969 non-null  object
 15  n_participants_child       197573 non-null  object
 16  n_participants_teen        197578 non-null  object
 17  n_participants_adult       197575 non-null  object
 18  n_males                    203315 non-null  float64
 19  n_females                  203315 non-null  float64
 20  n_killed                   239677 non-null  int64
 21  n_injured                  239677 non-null  int64
 22  n_arrested                 212051 non-null  float64
 23  n_unharmed                 212051 non-null  float64
 24  n_participants             239677 non-null  float64
 25  notes                      158660 non-null  object
 26  incident_characteristics1  239351 non-null  object
 27  incident_characteristics2  141931 non-null  object
dtypes: float64(11), int64(2), object(15)
memory usage: 51.2+ MB

In [7]:
#Descriptive statistics
df.describe()

,latitude,longitude,congressional_district,state_house_district,state_senate_district,participant_age1,n_males,n_females,n_killed,n_injured,n_arrested,n_unharmed,n_participants
count,231754.000000,231754.000000,227733.000000,200905.000000,207342.00000,147379.000000,203315.000000,203315.000000,239677.000000,239677.000000,212051.000000,212051.000000,239677.000000
mean,37.546598,-89.338348,8.001265,55.447132,20.47711,30.295707,1.520252,0.212340,0.252290,0.494007,0.468439,0.494169,1.636895
std,5.130763,14.359546,8.480835,42.048117,14.20456,13.363592,0.996767,0.490888,0.521779,0.729952,0.851035,0.925566,1.252514
min,19.111400,-171.429000,0.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,33.903400,-94.158725,2.000000,21.000000,9.00000,21.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,38.570600,-86.249600,5.000000,47.000000,19.00000,27.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,41.437375,-80.048625,10.000000,84.000000,30.00000,37.000000,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000
max,71.336800,97.433100,53.000000,901.000000,94.00000,311.000000,61.000000,23.000000,50.000000,53.000000,63.000000,20.000000,103.000000

In [11]:
arr = df['state'].unique()
print(len(arr))

51

In [12]:
arr

array(['Indiana', 'Pennsylvania', 'Michigan', 'District of Columbia',
       'North Carolina', 'Louisiana', 'Connecticut', 'Virginia',
       'Oklahoma', 'New York', 'Missouri', 'California', 'Texas',
       'Illinois', 'Ohio', 'Washington', 'Florida', 'South Carolina',
       'Georgia', 'Massachusetts', 'Tennessee', 'West Virginia',
       'New Jersey', 'Arkansas', 'Rhode Island', 'Maine', 'Nevada',
       'Colorado', 'New Mexico', 'Maryland', 'Oregon', 'South Dakota',
       'Kentucky', 'Alabama', 'Arizona', 'Minnesota', 'Wisconsin',
       'Mississippi', 'Kansas', 'Iowa', 'Wyoming', 'Nebraska', 'Alaska',
       'Utah', 'Montana', 'Hawaii', 'Delaware', 'Idaho', 'New Hampshire',
       'Vermont', 'North Dakota'], dtype=object)

As we see above, all entries are correct for the `state` attribute.

In [27]:
import re

def is_valid_date(date_string):
    # Define a regular expression pattern for the "yyyy-mm-dd" format
    date_pattern = r'^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$'

    # Use the re.match function to check if the input matches the pattern
    if re.match(date_pattern, date_string):
        # Split the date into year, month, and day components
        year, month, day = map(int, date_string.split('-'))

        # Check if the year is within a reasonable range (e.g., 1900-2099)
        if 1900 <= year <= 2023:
            # Check if the month is valid (1-12)
            if 1 <= month <= 12:
                # Check if the day is valid for the given month
                if 1 <= day <= 31:
                    # Additional checks can be added, e.g., February and leap years
                    return True
    return False

# Test cases
print(is_valid_date("2023-10-19"))  # Valid date format and valid values
print(is_valid_date("2023-13-19"))  # Invalid month (13 is not a valid month)
print(is_valid_date("2023-02-30"))  # Invalid day for February (30 is not valid)
print(is_valid_date("1899-12-31"))  # Invalid year (below the reasonable range)

True
False
True
False

In [28]:
arr = df['date'].unique()

In [29]:
arr

array(['2015-05-02', '2017-04-03', '2016-11-05', ..., '2013-07-24',
       '2013-12-14', '2013-04-18'], dtype=object)

In [32]:
date_checks = np.array([is_valid_date(item) for item in arr])
arr[date_checks == False]

array(['2030-06-14', '2030-07-03', '2029-07-11', '2030-05-02',
       '2029-11-02', '2029-03-16', '2029-06-27', '2030-05-29',
       '2029-06-16', '2030-08-13', '2029-12-17', '2029-09-09',
       '2029-05-13', '2030-06-07', '2029-02-20', '2030-05-28',
       '2030-11-14', '2029-03-18', '2030-04-13', '2029-09-18',
       '2030-10-16', '2029-07-03', '2029-07-21', '2030-09-29',
       '2030-11-08', '2029-06-21', '2030-06-06', '2029-06-01',
       '2029-10-22', '2030-03-14', '2029-10-15', '2029-06-14',
       '2029-07-15', '2029-01-28', '2029-06-22', '2030-08-03',
       '2029-11-20', '2030-01-28', '2030-01-18', '2030-10-28',
       '2030-07-12', '2030-11-02', '2030-06-30', '2029-05-29',
       '2029-09-15', '2030-11-04', '2030-04-07', '2029-09-17',
       '2029-12-05', '2029-03-21', '2030-05-23', '2029-09-24',
       '2029-09-29', '2029-12-13', '2029-07-14', '2030-01-08',
       '2030-11-21', '2030-06-24', '2030-05-21', '2030-09-16',
       '2029-07-17', '2029-06-06', '2030-01-10', '2029-04-22',
       '2030-02-27', '2029-10-25', '2029-02-08', '2029-02-24',
       '2029-10-18', '2030-06-16', '2029-09-08', '2029-08-14',
       '2029-04-03', '2030-03-04', '2029-05-23', '2029-03-12',
       '2029-12-26', '2030-02-19', '2030-01-23', '2029-05-26',
       '2029-11-08', '2029-10-28', '2030-06-22', '2029-03-13',
       '2029-11-07', '2030-07-05', '2029-04-21', '2030-08-25',
       '2029-04-29', '2030-03-08', '2030-09-19', '2029-04-25',
       '2029-01-08', '2030-10-10', '2029-03-20', '2030-08-02',
       '2030-09-17', '2029-12-11', '2030-08-31', '2029-07-28',
       '2029-04-02', '2029-04-15', '2030-09-10', '2030-08-23',
       '2029-07-06', '2029-11-18', '2029-07-09', '2029-05-18',
       '2029-06-30', '2029-07-02', '2029-02-25', '2030-07-04',
       '2029-05-22', '2030-07-08', '2029-05-27', '2029-07-01',
       '2029-10-11', '2030-04-02', '2029-08-18', '2029-09-04',
       '2029-09-27', '2029-06-19', '2029-08-03', '2029-04-26',
       '2030-11-26', '2030-04-09', '2030-05-20', '2029-12-23',
       '2030-03-24', '2030-08-20', '2030-03-11', '2029-08-31',
       '2029-04-05', '2029-05-28', '2030-11-25', '2029-07-13',
       '2030-02-24', '2029-11-23', '2030-08-14', '2029-06-25',
       '2029-03-15', '2029-12-27', '2029-02-17', '2030-04-14',
       '2029-09-30', '2029-06-09', '2029-01-12', '2029-01-11',
       '2030-10-04', '2030-01-24', '2030-09-24', '2030-05-18',
       '2030-08-11', '2029-01-25', '2029-10-03', '2030-06-17',
       '2029-03-23', '2029-07-10', '2029-04-16', '2030-01-26',
       '2029-01-23', '2029-12-19', '2029-07-19', '2029-08-19',
       '2030-09-21', '2029-08-23', '2029-09-25', '2029-03-26',
       '2029-11-17', '2030-03-23', '2029-01-14', '2030-03-09',
       '2029-03-27', '2030-05-12', '2029-09-07', '2029-05-07',
       '2030-09-14', '2029-06-05', '2030-09-06', '2030-05-27',
       '2030-04-06', '2029-05-10', '2029-01-17', '2029-04-09',
       '2030-07-26', '2030-01-01', '2030-03-25', '2029-06-11',
       '2029-10-19', '2030-09-05', '2029-11-21', '2029-05-20',
       '2030-05-08', '2029-05-25', '2029-07-20', '2029-03-24',
       '2028-12-28', '2029-10-12', '2029-05-30', '2030-04-10',
       '2029-06-20', '2029-12-08', '2029-02-02', '2029-06-12',
       '2029-09-01', '2029-04-28', '2030-06-08', '2029-08-20',
       '2029-09-02', '2029-09-21', '2029-01-20', '2030-07-17',
       '2030-07-06', '2030-01-12', '2030-06-20', '2029-11-13',
       '2029-04-20', '2030-11-13', '2029-12-09', '2029-05-24',
       '2030-05-11', '2029-03-14', '2029-05-12', '2030-03-05',
       '2030-06-19', '2030-03-02', '2029-07-16', '2030-05-06',
       '2029-02-10', '2030-08-27', '2030-10-24', '2030-06-18',
       '2030-04-05', '2030-10-14', '2030-07-14', '2029-12-30',
       '2029-07-24', '2030-02-10', '2029-08-02', '2030-02-25',
       '2029-12-21', '2029-11-30', '2029-08-12', '2029-05-09',
       '2029-07-27', '2029-09-28', '2029-01-16', '2030-07-20',
       '2029-11-29', '2029-01-02', '2029-03-06', '2029-07-12',
       '2029-03-28', '2030-06-26', '2030-10-01', '2029-03-09',
       '2029-06-13', '2029-09-05', '2029-04-13', '2029-10-17',
       '2030-10-31', '2030-03-27', '2029-02-13', '2028-12-29',
       '2030-08-01', '2029-03-11', '2029-09-19', '2030-08-16',
       '2030-04-11', '2030-05-10', '2030-09-28', '2029-10-05',
       '2030-07-01', '2029-02-21', '2029-10-09', '2029-05-19',
       '2030-06-23', '2030-06-13', '2029-01-18', '2030-01-22',
       '2029-11-11', '2029-02-23', '2029-04-06', '2029-05-16',
       '2029-02-03', '2030-01-13', '2030-10-22', '2029-04-23',
       '2030-02-09', '2029-08-28', '2030-05-30', '2030-08-28',
       '2029-08-11', '2029-01-04', '2029-10-13', '2030-02-28',
       '2030-08-18', '2029-10-16', '2029-06-24', '2030-09-13',
       '2029-12-03', '2030-10-27', '2029-10-26', '2030-10-07',
       '2030-05-22', '2029-10-23', '2029-01-24', '2029-08-09',
       '2029-04-04', '2029-11-06', '2029-02-04', '2030-08-08',
       '2029-07-25', '2029-07-18', '2029-10-27', '2030-11-11',
       '2030-06-09', '2030-07-29', '2030-10-18', '2030-02-21',
       '2030-03-19', '2030-04-28', '2030-06-29', '2029-02-26',
       '2029-05-14', '2029-06-10', '2029-01-19', '2030-07-09',
       '2030-06-10', '2030-07-24', '2030-10-21', '2029-07-22',
       '2029-10-02', '2030-01-19', '2030-08-19', '2029-04-08',
       '2029-12-06', '2030-01-07', '2030-03-20', '2030-11-12',
       '2030-11-22', '2030-05-25', '2030-08-07', '2030-01-21',
       '2030-06-15', '2029-05-03', '2029-02-11', '2029-10-24',
       '2030-04-29', '2029-03-05', '2030-11-17', '2029-12-20',
       '2030-01-15', '2030-10-20', '2030-01-06', '2029-05-05',
       '2029-04-14', '2029-02-19', '2029-06-08', '2029-07-07',
       '2029-05-11', '2030-09-08', '2029-07-08', '2029-07-05',
       '2029-08-05', '2029-05-15', '2029-08-01', '2030-09-04',
       '2029-10-08', '2030-05-13', '2029-09-23', '2029-11-19',
       '2030-04-08', '2029-08-22', '2029-05-21', '2029-12-18',
       '2029-12-29', '2029-06-07', '2030-07-31', '2030-10-19',
       '2029-03-02', '2030-04-24', '2030-11-23', '2030-03-31',
       '2030-07-15', '2029-01-21', '2030-09-03', '2030-03-26',
       '2029-05-17', '2029-03-08', '2030-08-05', '2030-04-22',
       '2029-04-27', '2029-05-31', '2030-07-28', '2030-01-09',
       '2030-03-30', '2030-10-17', '2030-01-16', '2029-08-21',
       '2030-08-06', '2029-02-14', '2030-08-15', '2030-09-07',
       '2029-08-04', '2029-08-06', '2029-12-04', '2029-12-31',
       '2029-03-07', '2029-04-30', '2030-04-03', '2029-01-07',
       '2029-10-31', '2030-05-01', '2030-02-14', '2029-10-04',
       '2030-09-01', '2029-02-06', '2029-09-26', '2029-07-23',
       '2029-05-04', '2029-09-11', '2029-01-30', '2029-08-08',
       '2030-08-21', '2030-09-25', '2030-04-23', '2030-11-16',
       '2030-01-04', '2029-10-10', '2030-01-14', '2029-09-20',
       '2029-11-01', '2029-04-10', '2029-12-01', '2030-02-26',
       '2029-06-02', '2030-11-28', '2030-07-21', '2029-12-24',
       '2030-06-02', '2029-08-13', '2030-07-27', '2029-03-31',
       '2029-01-13', '2030-07-07', '2030-02-04', '2029-08-24',
       '2029-01-29', '2030-11-19', '2030-04-19', '2029-10-30',
       '2029-10-01', '2030-09-22', '2029-09-06', '2030-02-20',
       '2029-04-12', '2029-08-30', '2030-05-16', '2030-01-20',
       '2030-09-02', '2029-11-03', '2030-09-11', '2030-05-14',
       '2030-05-03', '2030-06-12', '2029-06-15', '2030-05-05',
       '2029-04-07', '2029-11-09', '2030-06-27', '2029-12-12',
       '2030-03-07', '2029-01-22', '2030-02-11', '2029-11-04',
       '2029-08-17', '2029-07-31', '2030-11-03', '2029-03-10',
       '2029-03-19', '2029-03-04', '2030-01-30', '2030-05-09',
       '2030-11-07', '2029-10-06', '2030-11-09', '2029-12-28',
       '2030-02-06', '2029-06-03', '2029-09-14', '2029-07-30',
       '2029-02-16', '2029-02-28', '2030-02-22', '2029-03-03',
       '2030-08-04', '2029-11-12', '2029-03-30', '2029-06-28',
       '2029-01-15', '2029-06-18', '2030-02-02', '2030-05-04',
       '2030-01-25', '2030-06-21', '2030-02-03', '2030-03-15',
       '2030-07-10', '2029-08-27', '2029-12-14', '2029-10-14',
       '2029-01-31', '2029-11-16', '2030-03-03', '2029-03-01',
       '2030-09-26', '2030-08-22', '2029-01-03', '2029-08-16',
       '2029-09-10', '2029-12-16', '2030-03-28', '2029-08-25',
       '2029-09-12', '2030-07-22', '2030-02-13', '2030-04-15',
       '2029-11-24', '2029-06-17', '2030-06-05', '2029-09-16',
       '2030-03-29', '2030-11-05', '2030-08-12', '2029-11-14',
       '2030-04-30', '2029-02-01', '2029-11-25', '2030-09-27',
       '2030-11-15', '2030-06-04', '2030-11-20', '2029-08-10',
       '2030-09-30', '2028-11-26', '2029-01-09', '2030-03-10',
       '2029-11-05', '2029-01-06', '2029-10-21', '2030-03-18',
       '2030-06-25', '2030-11-06', '2030-03-01', '2030-09-09',
       '2030-07-18', '2029-04-17', '2030-07-30', '2030-09-12',
       '2029-05-06', '2030-04-16', '2029-12-07', '2030-06-03',
       '2029-09-03', '2030-01-03', '2030-07-25', '2029-08-29',
       '2030-04-12', '2030-08-24', '2030-03-22', '2030-04-20',
       '2029-11-10', '2029-10-07', '2029-01-05', '2030-05-17',
       '2029-06-29', '2029-01-26', '2029-03-29', '2030-09-23',
       '2030-03-17', '2030-09-15', '2029-12-10', '2030-01-05',
       '2030-10-08', '2030-02-15', '2030-02-07', '2029-04-18',
       '2029-04-01', '2029-08-15', '2030-04-21', '2030-08-29',
       '2030-03-12', '2030-02-05', '2030-04-04', '2030-01-17',
       '2029-07-04', '2030-03-13', '2029-06-26', '2029-10-29',
       '2028-12-31', '2029-02-27', '2028-12-30', '2030-04-01',
       '2030-04-26', '2029-06-04', '2029-05-02', '2029-05-08',
       '2030-05-31', '2029-07-29', '2030-11-01', '2029-07-26',
       '2029-10-20', '2030-07-11', '2030-01-31', '2030-06-01',
       '2030-10-06', '2030-06-28', '2029-09-13', '2030-05-24',
       '2030-08-09', '2030-07-16', '2030-10-03', '2029-01-27',
       '2029-11-22', '2030-11-10', '2030-10-11', '2030-10-25',
       '2030-10-09', '2030-04-25', '2029-12-22', '2029-04-11',
       '2030-07-23', '2030-10-12', '2030-07-02', '2030-11-27',
       '2030-04-27', '2030-10-13', '2030-07-13', '2030-06-11',
       '2030-10-15', '2029-08-07', '2030-02-16', '2030-09-18',
       '2029-02-05', '2030-10-29', '2029-08-26', '2029-02-12',
       '2029-12-15', '2029-11-15', '2029-03-17', '2030-11-24',
       '2029-03-25', '2030-05-26', '2029-02-22', '2030-01-02',
       '2029-04-19', '2029-01-10', '2030-03-06', '2029-01-01',
       '2030-01-29', '2030-03-16', '2030-05-07', '2030-08-26',
       '2029-02-15', '2029-12-25', '2030-03-21', '2028-01-18',
       '2030-01-11', '2030-10-02', '2030-05-19', '2030-08-10',
       '2030-09-20', '2030-07-19', '2029-03-22', '2029-02-09',
       '2030-08-30', '2030-02-08', '2029-11-27', '2029-11-26',
       '2029-06-23', '2030-04-18', '2029-05-01', '2030-02-01',
       '2030-10-26', '2030-02-12', '2030-05-15', '2029-02-07',
       '2029-09-22', '2030-10-23', '2030-01-27', '2029-11-28',
       '2030-11-18', '2030-10-30', '2030-08-17', '2030-10-05',
       '2029-04-24', '2029-02-18', '2028-10-23', '2030-02-23',
       '2029-12-02', '2028-05-28', '2030-02-18', '2028-10-22',
       '2028-05-06', '2030-02-17', '2028-10-16', '2028-01-23',
       '2028-05-27', '2028-05-29', '2028-03-10', '2028-08-09',
       '2028-05-09', '2028-09-07', '2028-08-07', '2028-07-24',
       '2028-02-19', '2028-05-07', '2028-05-01', '2028-05-02',
       '2028-04-24', '2028-10-01', '2028-04-06', '2028-06-05'],
      dtype=object)

In [34]:
df['date'] = df['date'].apply(lambda x: x if is_valid_date(x) else np.nan)

In [46]:
arr = df['date'].unique()
for item in arr:
  if not isinstance(item, str):
    print(item, type(item), item == np.nan)
date_checks = np.array([is_valid_date(item) for item in arr if item])
arr[date_checks == False]

nan <class 'float'> False

TypeError: ignored

As we can see above, all dates are in the correct format.

In [24]:
arr = df['address'].unique()

In [ ]:
##Check if all states are valid states
valid_states = [
    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
    'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
    'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
    'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
    'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
    'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
    'West Virginia', 'Wisconsin', 'Wyoming'
]

unique_states_in_data = df['state'].unique()
invalid_states = [state for state in unique_states_in_data if state not in valid_states]
print(invalid_states)

['District of Columbia']

In [ ]:
#Check for invalid dates
df['date'] = pd.to_datetime(df['date'], errors='coerce')
invalid_dates = df['date'].isnull().sum()
print(invalid_dates)

0

In [ ]:
#Check for Gender Consistency
print(df['participant_gender1'].value_counts())

Male            177945
Female           25369
Male, female         1
Name: participant_gender1, dtype: int64

In [ ]:
#Checking for Non-Negative values in the number fields
number_fields = ['n_killed', 'n_injured', 'n_arrested', 'n_unharmed', 'n_participants']
for column in number_fields:
    if (df[column] < 0).any():
        print(f"Column {column} contains negative values!")

# How Categorical Data Is Distributed

In [ ]:
#Check how the state data is distributed
print(df['state'].value_counts())

Illinois                17556
California              16306
Florida                 15029
Texas                   13577
Ohio                    10244
New York                 9712
Pennsylvania             8929
Georgia                  8925
North Carolina           8739
Louisiana                8103
Tennessee                7626
South Carolina           6939
Missouri                 6631
Michigan                 6136
Massachusetts            5981
Virginia                 5949
Indiana                  5852
Maryland                 5798
Alabama                  5471
New Jersey               5387
Wisconsin                4787
Kentucky                 4157
Mississippi              3599
Oklahoma                 3455
Washington               3434
Colorado                 3201
District of Columbia     3195
Connecticut              3067
Arkansas                 2842
Iowa                     2517
Minnesota                2408
Arizona                  2328
Oregon                   2286
Kansas                   2145
Nevada                   1952
Delaware                 1685
Nebraska                 1651
New Mexico               1645
West Virginia            1575
Alaska                   1349
Utah                     1072
New Hampshire             964
Maine                     907
Rhode Island              895
Idaho                     661
Montana                   638
North Dakota              573
South Dakota              544
Wyoming                   494
Vermont                   472
Hawaii                    289
Name: state, dtype: int64

In [ ]:
#How city or country data is distributed
print(df['city_or_county'].value_counts())

Chicago            10814
Baltimore           3943
Washington          3279
New Orleans         3071
Philadelphia        2963
                   ...
Loch Sheldrake         1
Rains (county)         1
Lincolnshire           1
Constable              1
Somerset County        1
Name: city_or_county, Length: 12898, dtype: int64

In [ ]:
#How congressional districts are distributed
print(df['congressional_district'].value_counts())

1.0     36910
2.0     26945
3.0     20621
7.0     19709
4.0     18469
5.0     16512
9.0      9867
6.0      9388
8.0      7353
13.0     6175
12.0     5770
10.0     5606
11.0     5260
14.0     4291
17.0     2925
16.0     2842
18.0     2614
20.0     2600
24.0     2042
15.0     1943
26.0     1847
19.0     1701
27.0     1425
22.0     1424
25.0     1354
23.0     1305
21.0     1276
35.0     1135
30.0      788
31.0      773
29.0      727
36.0      659
33.0      522
28.0      497
0.0       421
44.0      421
32.0      361
34.0      337
43.0      314
47.0      292
37.0      266
46.0      251
38.0      249
40.0      235
51.0      228
41.0      211
52.0      158
53.0      130
48.0      119
42.0      118
50.0      116
49.0      100
39.0       86
45.0       45
Name: congressional_district, dtype: int64

# Missing Values

In [ ]:
#Missing values
# Identify missing values
missing_values = df.isnull().sum()
print(missing_values)

date                             0
state                            0
city_or_county                   0
address                      16497
latitude                      7923
longitude                     7923
congressional_district       11944
state_house_district         38772
state_senate_district        32335
participant_age1             92298
participant_age_group1       42119
participant_gender1          36362
min_age_participants         74798
avg_age_participants         74620
max_age_participants         74708
n_participants_child         42104
n_participants_teen          42099
n_participants_adult         42102
n_males                      36362
n_females                    36362
n_killed                         0
n_injured                        0
n_arrested                   27626
n_unharmed                   27626
n_participants                   0
notes                        81017
incident_characteristics1      326
incident_characteristics2    97746
dtype: int64

# Outliers



# Data Integration of Povertybystateyear and yearstatedistricthouse

In [ ]:
#Pover State By Year
df_povertystate = pd.read_csv('povertyByStateYear.csv')
df_povertystate.head()

           state  year  povertyPercentage
0  United States  2020               11.5
1        Alabama  2020               14.8
2         Alaska  2020               11.5
3        Arizona  2020               12.1
4       Arkansas  2020               15.8

In [ ]:
#Year State District House
df_yearstatedhouse = pd.read_csv('year_state_district_house.csv')
df.head()

,date,state,city_or_county,address,latitude,longitude,congressional_district,state_house_district,state_senate_district,participant_age1,...,n_males,n_females,n_killed,n_injured,n_arrested,n_unharmed,n_participants,notes,incident_characteristics1,incident_characteristics2
0,2015-05-02,Indiana,Indianapolis,Lafayette Road and Pike Plaza,39.8322,-86.2492,7.0,94.0,33.0,19.0,...,1.0,0.0,0,1,0.0,0.0,1.0,Teen wounded while walking - Security guard at...,Shot - Wounded/Injured,NaN
1,2017-04-03,Pennsylvania,Kane,5647 US 6,41.6645,-78.7856,5.0,NaN,NaN,62.0,...,1.0,0.0,1,0,0.0,0.0,1.0,shot self after accident,"Shot - Dead (murder, accidental, suicide)",Suicide^
2,2016-11-05,Michigan,Detroit,6200 Block of East McNichols Road,42.4190,-83.0393,14.0,4.0,2.0,NaN,...,NaN,NaN,0,1,0.0,1.0,2.0,1 inj.,Shot - Wounded/Injured,NaN
3,2016-10-15,District of Columbia,Washington,"1000 block of Bladensburg Road, NE",38.9030,-76.9820,1.0,NaN,NaN,NaN,...,1.0,0.0,0,1,0.0,0.0,2.0,NaN,Shot - Wounded/Injured,NaN
4,2030-06-14,Pennsylvania,Pittsburgh,California and Marshall Avenues,40.4621,-80.0308,14.0,NaN,NaN,NaN,...,1.0,0.0,0,1,0.0,1.0,2.0,NaN,Shot - Wounded/Injured,"Drive-by (car to street, car to car)"